name: Test & Build
on:
  pull_request:
  push:
    branches:
      - main
defaults:
  run:
    shell: bash
    working-directory: ./
permissions:
  contents: read
env:
  DO_NOT_TRACK: 1
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          fetch-depth: 1
          persist-credentials: false
      - name: Setup NodeJS environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .nvmrc
          cache: yarn
      - name: Install frontend dependencies
        run: yarn install --frozen-lockfile;
      - name: Spellcheck
        run: yarn spellcheck;
      - name: Setup Go environment
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version-file: 'go.work'
          cache-dependency-path: "**/*.sum"
      - name: Validate environment
        run: |
          echo "-------- node version -----"
          node --version
          echo "-------- npm version -----"
          npm --version
          echo "-------- yarn version -----"
          yarn --version
          echo "-------- go version -----"
          go version
      - name: Test
        run: yarn test
